body {
    font-family: Fira Sans;
    color: #333;
    font-weight: 400;
    line-height: 1.375rem;
    margin: 0;
  }

  .pricing-container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    max-width: 1200px;
  }

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 16px;
    align-items: center;
    margin-bottom: 40px;
}

.filter {
    display: grid;
    grid-gap: 8px;
}

.market-price {
  font-weight: 500;
  font-size: 22px;
}

.pricing-period {
  font-size: 13px;
}